{% extends 'base.html' %}

{% block style %}
<style>
    /* 로그인폼에 대한 스타일 */
    form { width: 350px; margin: 125px auto; }
    form div { margin-bottom: 5px; }
    form label { font-weight: bold; width: 110px; text-align: right; }
    form button:first-child { margin-left: 135px }
</style>
{% endblock %}

{% block main %}
<main>
    <h2>로그인</h2>
    <form name="loginfrm">
        <div class="row">
            <div class="col-auto"><label for="userid" class="col-form-label">아이디</label></div>
            <div class="col-auto"><input type="text" name="userid" id="userid" class="form-control"></div>
        </div>
        <div class="row">
            <div class="col-auto"><label for="passwd" class="col-form-label">비밀번호</label></div>
            <div class="col-auto"><input type="password" name="passwd" id="passwd" class="form-control"></div>
        </div>
        <div><button type="button" class="btn btn-primary">
            <i class="bi bi-box-arrow-in-right"></i> 로그인</button></div>
    </form>
</main>
{% endblock %}
