<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>세미 프로젝트 - board/list</title>
    <link rel="stylesheet" href="../css/bs5/bootstrap.min.css">
    <link rel="stylesheet" href="../css/base.css">
    <style>
        table { table-layout: fixed; border-top-color: white !important; }
        th, td { text-align: center; }

        /* 검색, 글쓰기 버튼이 있는 행 */
        tr:first-child td { border:none; padding: 10px 0 }
        tr:first-child td:last-child { text-align: right }

        /* 제목열에 대한 스타일 지정 */
        td:nth-child(2) { text-align: left; white-space: nowrap;
            overflow: hidden; text-overflow: ellipsis }

        /* 페이지네이션pagenation 스타일 */
        .pagination a:link { color: #0dcaf0 }
    </style>
</head>
<body>
    <div class="container">
    <header><h1>세미 프로젝트 v1</h1></header>
        <nav>
            <ul class="list-inline row text-center justify-content-evenly mt-5">
                <li class="col-2"><a href="index.html">Home</a></li>
                <li class="col-2"><a href="join.html">회원가입</a></li>
                <li class="col-2"><a href="login.html">로그인</a></li>
                <li class="col-2"><a href="board/list.html">게시판</a></li>
                <li class="col-2"><a href="myinfo.html">회원정보</a></li>
            </ul>
            <hr>
        </nav>
    <main>
        <h2>게시판 목록</h2>
        <table class="table table-bordered w-75 container mt-5">
            <colgroup><!-- table-fixed 속성이 설정된 경우,
                           각 컬럼에 대한 스타일 지정 -->
                <col style="width: 10%">
                <col style="">
                <col style="width: 15%">
                <col style="width: 15%">
                <col style="width: 10%">
            </colgroup>

            <tr><td colspan="2" class="searchbox">
                <div class="row">
                    <div class="col-auto"><select class="form-select"><option>제목</option>
                        <option>본문</option><option>작성자</option>
                        <option>제목+본문</option><option>댓글내용</option></select></div>

                    <div class="col-auto">
                        <input type="text" name="search" id="search" class="form-control"></div>

                    <div class="col-auto"><button type="button"
                                          class="btn btn-success">검색하기</button></div>
                </div></td>

                <td colspan="3"><a href="write.html" class="btn btn-dark text-white">글쓰기</a></td>
            </tr>
            <tr><th>번호</th><th>제목</th><th>작성자</th>
                <th>작성일</th><th>조회수</th></tr>
            <tr><td>1</td><td><a href="view.html">시간은 금이라구, 친구! 진짜라구, 친구! 사실이라구 친구, 정말이라구, 친구!</a></td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
            <tr><td>1</td><td>시간은 금이라구, 친구!</td><td>zzyzzy</td>
                <td>2024-01-22</td><td>987</td></tr>
        </table>
        <ul class="pagination justify-content-center m-4">
            <li class="page-item disabled"><a class="page-link" href="#">이전</a></li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">4</a></li>
            <li class="page-item"><a class="page-link" href="#">5</a></li>
            <li class="page-item"><a class="page-link" href="#">6</a></li>
            <li class="page-item"><a class="page-link" href="#">7</a></li>
            <li class="page-item"><a class="page-link" href="#">8</a></li>
            <li class="page-item"><a class="page-link" href="#">9</a></li>
            <li class="page-item"><a class="page-link" href="#">10</a></li>
            <li class="page-item"><a class="page-link" href="#">다음</a></li>
        </ul>
    </main>
        <footer>
            <hr>
            <div class="text-center mb-3">
                copyright &copy; 2024. zzyzzy. All rights reserved.</div>
        </footer>
    </div>
</body>
</html>